<View style="flex: 50%">
  <Header>In your opinion, how similar is the meaning of these two sentences?</Header>
  <View style="box-shadow: 2px 2px 5px #999; padding: 20px; margin-top: 2em; border-radius: 5px;">
  <Text name="sent_1" value="$sent_1" />
  </View>
  <View style="box-shadow: 2px 2px 5px #999; padding: 20px; margin-top: 1em; margin-bottom: 2em; border-radius: 5px;">
  <Text name="sent_2" value="$sent_2" />
  </View>
  <Choices name="sentence_similarity" toName="sent_1,sent_2" choice="single">
    <Choice value="completely equivalent, as they mean the same thing" alias="5" />
    <Choice value="mostly equivalent, but some unimportant details diﬀer" alias="4" />
    <Choice value="roughly equivalent, but some important information diﬀers/missing" alias="3" />
    <Choice value="not equivalent, but share some details" alias="2" />
    <Choice value="not equivalent, but are on the same topic" alias="1" />
    <Choice value="on diﬀerent topics" alias="0" />
  </Choices>
</View>

<!-- {
"data": {"sent_1": "This is the first sentence",
         "sent_2": "This is the second sentence"}
}
-->
